In [130]:
import pandas as pd
import numpy as np
import logging
from pathlib import Path

pd.set_option("display.max_columns",200)
pd.set_option("display.width",120)

RAW = Path("../data/raw")
PROC = Path("../data/processed")

PROC.mkdir(parents=True, exist_ok=True)

In [131]:
df = pd.read_csv(RAW / "listings.csv",encoding="latin1")

df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,2992450,Luxury 2 bedroom apartment,4621559,Kenneth,NaN,THIRD WARD,42.65789,-73.75370,Entire home/apt,70.0,28,9,2022-08-17,0.07,1,70,0,NaN
1,3820211,Restored Precinct in Center Sq. w/Parking,19648678,Terra,NaN,SIXTH WARD,42.65222,-73.76724,Entire home/apt,100.0,2,308,2025-03-29,2.34,4,335,6,NaN
2,5651579,Large studio apt by Capital Center & ESP@,29288920,Gregg,NaN,SECOND WARD,42.64615,-73.75966,Entire home/apt,75.0,2,371,2025-02-16,3.02,2,15,24,NaN
3,6623339,Center Sq. Loft in Converted Precinct w/ Parking,19648678,Terra,NaN,SIXTH WARD,42.65222,-73.76724,Entire home/apt,95.0,2,331,2025-02-09,2.72,4,282,14,NaN
4,9005989,"Studio in The heart of Center SQ, in Albany NY",17766924,Sugey,NaN,SIXTH WARD,42.65559,-73.76506,Entire home/apt,86.0,1,620,2025-05-08,5.76,1,128,29,NaN

In [132]:
df.shape

(447, 18)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              447 non-null    int64
 1   name                            447 non-null    object
 2   host_id                         447 non-null    int64
 3   host_name                       447 non-null    object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   447 non-null    object
 6   latitude                        447 non-null    float64
 7   longitude                       447 non-null    float64
 8   room_type                       447 non-null    object
 9   price                           415 non-null    float64
 10  minimum_nights                  447 non-null    int64
 11  number_of_reviews               447 non-null    int64
 12  last_review                     380 non-null    object
 13  reviews_per_month               380 non-null    float64
 14  calculated_host_listings_count  447 non-null    int64
 15  availability_365                447 non-null    int64
 16  number_of_reviews_ltm           447 non-null    int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 63.0+ KB

In [134]:
df.describe()

,id,host_id,neighbourhood_group,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
count,4.470000e+02,4.470000e+02,0.0,447.000000,447.000000,415.000000,447.000000,447.000000,380.000000,447.000000,447.000000,447.000000,0.0
mean,7.590596e+17,2.509316e+08,NaN,42.658487,-73.776975,121.004819,6.684564,58.145414,1.946526,6.243848,226.626398,14.536913,NaN
std,5.182807e+17,2.002203e+08,NaN,0.010478,0.019069,126.004102,19.718792,107.985856,1.966537,6.198586,116.905740,20.681827,NaN
min,2.992450e+06,6.576000e+04,NaN,42.630660,-73.876490,24.000000,1.000000,0.000000,0.040000,1.000000,0.000000,0.000000,NaN
25%,5.311787e+07,4.762598e+07,NaN,42.652245,-73.789129,68.000000,1.000000,2.500000,0.477500,1.000000,149.000000,1.000000,NaN
50%,9.289489e+17,2.329679e+08,NaN,42.657510,-73.773570,93.000000,2.000000,17.000000,1.255000,3.000000,250.000000,6.000000,NaN
75%,1.192345e+18,4.306940e+08,NaN,42.665027,-73.763560,131.500000,3.000000,64.000000,2.850000,9.000000,332.500000,20.000000,NaN
max,1.434113e+18,6.804113e+08,NaN,42.714900,-73.738250,1486.000000,365.000000,928.000000,11.340000,22.000000,365.000000,133.000000,NaN

In [135]:
df.isna().sum()

id                                  0
name                                0
host_id                             0
host_name                           0
neighbourhood_group               447
neighbourhood                       0
latitude                            0
longitude                           0
room_type                           0
price                              32
minimum_nights                      0
number_of_reviews                   0
last_review                        67
reviews_per_month                  67
calculated_host_listings_count      0
availability_365                    0
number_of_reviews_ltm               0
license                           447
dtype: int64

In [145]:
df = df.dropna(thresh=len(df)*0.5,axis=1)
df = df.ffill()
df.isna().sum()

fullname                          0
host_id                           0
host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
dtype: int64

In [137]:
for col in df.select_dtypes(include=np.number):
    df[col] = df[col].fillna(df[col].median())
    
for col in df.select_dtypes(include="object"):
    df[col] = df[col].fillna(df[col].mode()[0])
    
df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
dtype: int64

In [138]:
df.describe(include="all")

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm
count,4.470000e+02,447,4.470000e+02,447,447,447.000000,447.000000,447,447.000000,447.000000,447.000000,447,447.000000,447.000000,447.000000,447.000000
unique,NaN,447,NaN,175,15,NaN,NaN,2,NaN,NaN,NaN,158,NaN,NaN,NaN,NaN
top,NaN,Luxury 2 bedroom apartment,NaN,Diana,SIXTH WARD,NaN,NaN,Entire home/apt,NaN,NaN,NaN,2025-05-18,NaN,NaN,NaN,NaN
freq,NaN,1,NaN,24,100,NaN,NaN,326,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN
mean,7.590596e+17,NaN,2.509316e+08,NaN,NaN,42.658487,-73.776975,NaN,119.000000,6.684564,58.145414,NaN,1.842875,6.243848,226.626398,14.536913
std,5.182807e+17,NaN,2.002203e+08,NaN,NaN,0.010478,0.019069,NaN,121.614623,19.718792,107.985856,NaN,1.829585,6.198586,116.905740,20.681827
min,2.992450e+06,NaN,6.576000e+04,NaN,NaN,42.630660,-73.876490,NaN,24.000000,1.000000,0.000000,NaN,0.040000,1.000000,0.000000,0.000000
25%,5.311787e+07,NaN,4.762598e+07,NaN,NaN,42.652245,-73.789129,NaN,70.000000,1.000000,2.500000,NaN,0.600000,1.000000,149.000000,1.000000
50%,9.289489e+17,NaN,2.329679e+08,NaN,NaN,42.657510,-73.773570,NaN,93.000000,2.000000,17.000000,NaN,1.255000,3.000000,250.000000,6.000000
75%,1.192345e+18,NaN,4.306940e+08,NaN,NaN,42.665027,-73.763560,NaN,128.000000,3.000000,64.000000,NaN,2.355000,9.000000,332.500000,20.000000
max,1.434113e+18,NaN,6.804113e+08,NaN,NaN,42.714900,-73.738250,NaN,1486.000000,365.000000,928.000000,NaN,11.340000,22.000000,365.000000,133.000000

In [139]:
string_cols = ["name", "host_name", "neighbourhood", "room_type"]
df[string_cols] = df[string_cols].astype("string")
df["last_review"] = pd.to_datetime(df["last_review"], errors="coerce")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              447 non-null    int64
 1   name                            447 non-null    string
 2   host_id                         447 non-null    int64
 3   host_name                       447 non-null    string
 4   neighbourhood                   447 non-null    string
 5   latitude                        447 non-null    float64
 6   longitude                       447 non-null    float64
 7   room_type                       447 non-null    string
 8   price                           447 non-null    float64
 9   minimum_nights                  447 non-null    int64
 10  number_of_reviews               447 non-null    int64
 11  last_review                     447 non-null    datetime64[ns]
 12  reviews_per_month               447 non-null    float64
 13  calculated_host_listings_count  447 non-null    int64
 14  availability_365                447 non-null    int64
 15  number_of_reviews_ltm           447 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(7), string(4)
memory usage: 56.0 KB

In [140]:
df["room_type"] = df["room_type"].str.strip().str.lower()
df["room_type"] = df["room_type"].replace({
    "p" : "Private room",
    "pr": "Private room",
    "e" : "Entire home/apt"
})

Need to drop unnecessary columns like last_review, minimum_nights

In [141]:
# Based on specific ID column
df = df.drop_duplicates()
df = df.drop_duplicates(subset=['host_id'])
df = df.drop(columns=["id","minimum_nights"], errors="ignore")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 193 entries, 0 to 443
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            193 non-null    string
 1   host_id                         193 non-null    int64
 2   host_name                       193 non-null    string
 3   neighbourhood                   193 non-null    string
 4   latitude                        193 non-null    float64
 5   longitude                       193 non-null    float64
 6   room_type                       193 non-null    string
 7   price                           193 non-null    float64
 8   number_of_reviews               193 non-null    int64
 9   last_review                     193 non-null    datetime64[ns]
 10  reviews_per_month               193 non-null    float64
 11  calculated_host_listings_count  193 non-null    int64
 12  availability_365                193 non-null    int64
 13  number_of_reviews_ltm           193 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(5), string(4)
memory usage: 22.6 KB

Renaming some columns for better visibility

In [142]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df = df.rename(columns={"name": "fullname"})
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 193 entries, 0 to 443
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   fullname                        193 non-null    string
 1   host_id                         193 non-null    int64
 2   host_name                       193 non-null    string
 3   neighbourhood                   193 non-null    string
 4   latitude                        193 non-null    float64
 5   longitude                       193 non-null    float64
 6   room_type                       193 non-null    string
 7   price                           193 non-null    float64
 8   number_of_reviews               193 non-null    int64
 9   last_review                     193 non-null    datetime64[ns]
 10  reviews_per_month               193 non-null    float64
 11  calculated_host_listings_count  193 non-null    int64
 12  availability_365                193 non-null    int64
 13  number_of_reviews_ltm           193 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(5), string(4)
memory usage: 22.6 KB

In [143]:
df.to_csv(PROC / "cleaned_airbnb.csv",index=False)

#steps that I followed for cleaning this data
Setup notebook paths + pandas options.

Load dataset.

Inspect dataset (shape, info, missing values).

Handle missing values (drop / fill).

Fix column types.

Standardize categories.

Drop unnecessary columns.

Rename columns.

Save cleaned dataset.