In [11]:
from pathlib import Path

RAW = Path("../data/raw")
PROC = Path("..data/processed")


pd.set_option("display.max_columns", 100)
pd.set_option("display.width", 120)

In [16]:
def quick_overview(df: pd.DataFrame, name: str = "df"):
    print(f"=== {name}: shape {df.shape} ===")
    display(df.sample(min(5, len(df)), random_state=0))   # peek random rows
    print("\n-- nulls --")
    display(df.isna().sum().sort_values(ascending=False).to_frame("nulls"))
    print("\n-- dtypes --")
    display(df.dtypes.to_frame("dtype"))
    print("\n-- head/tail --")
    display(df.head(3))
    display(df.tail(3))
    
quick_overview(df)

=== df: shape (418, 2) ===

     PassengerId  Survived
360         1252         0
170         1062         0
224         1116         1
358         1250         0
309         1201         1

-- nulls --

             nulls
PassengerId      0
Survived         0

-- dtypes --

             dtype
PassengerId  int64
Survived     int64

-- head/tail --

   PassengerId  Survived
0          892         0
1          893         1
2          894         0

     PassengerId  Survived
415         1307         0
416         1308         0
417         1309         0

In [13]:
df.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [4]:
import pandas as pd

df = pd.read_csv('../data/raw/gender_submission.csv')
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1